<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Personal Research Assistant</div>
    <div class="panel-body">
      <form novalidate="novalidate" data-remote="true" action="/personal_workspace/analyse" accept-charset="UTF-8" method="post" id="pra_form">
        <%= csrf_meta_tags %>
        <div class="form-group ">
          <label for="dataset_pra_select">Select a dataset to process</label>
          <select id="dataset_pra_select" name="dataset_pra_select" class="form-control" autocomplete="off">
            <option value="" disabled selected>Select your dataset</option>
            <%= options_for_select(@current_user.datasets.map(&:title)) %>
          </select>
        </div>
<!--        <div class="form-group col-md-6">-->
<!--          <input name="target_search" type="text" class="form-control" placeholder="Search for...">-->
<!--        </div>-->
        <div class="form-group">
          <label for="utilities_select">Select a utility to run</label>
          <select id="utilities_select" name="utilities_select" class="form-control" autocomplete="off">
            <option value="" disabled selected>Select the utility to use</option>
            <% utilities = api_list_utilities %>
            <% puts utilities %>
            <% utilities.each do |utility| %>
              <option value="<%= utility['utility_name'] %>"><%= utility['utility_description'] %></option>
            <% end%>
          </select>
        </div>
        <hr/>
        <div class="form-group" id="utility_params_inputs"></div>
        <button type="submit" class="btn btn-primary" name="submit" value="analyse">Analyse</button>
      </form>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Topic modelling</div>
    <div class="panel-body">
      <form novalidate="novalidate" data-remote="true" action="/personal_workspace/tm_action" accept-charset="UTF-8" method="post">
        <%= csrf_meta_tags %>
        <label for="dataset_tm_select">Select a dataset to process</label>
        <div class="form-group">
          <select id="dataset_tm_select" name="dataset_tm_select" class="form-control" autocomplete="off">
            <option value="" disabled selected>Select your dataset</option>
            <%= options_for_select(@current_user.datasets.map(&:title)) %>
          </select>
        </div>
        <label for="model_tm_select">Select a dataset to process</label>
        <div class="form-group">
          <select id="model_tm_select" name="model_tm_select" class="form-control" autocomplete="off">
            <option value="" disabled selected>Select the model to use</option>
            <% models = get_models %>
            <% models.keys.each do |model_type| %>
              <% next if models[model_type].is_a? String %>
              <optgroup label="<%= model_type %>">
                <% models[model_type].each do |data| %>
                  <option value="<%= data['name'] %>"><%= data['description'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" name="submit" value="query">Get topics for selected dataset</button>
        <hr/>
        <div class="form-group col-md-9">
          <select id="topic_select" name="topic_select" class="form-control" autocomplete="off">
            <option value="" disabled selected>Select a topic</option>
            <%= options_for_select(0..9) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" name="submit" value="describe">Describe selected topic</button>
      </form>

      <div id="modal-describe_topic" class="modal hide fade" role="dialog" aria-labelledby="describe_topic_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="application/javascript">
    $(function(){

        $('#utilities_select').change(function() {
            let utilities = JSON.parse("<%= j utilities.to_json.html_safe %>");
            let obj = utilities.find(u => u.utility_name == $('#utilities_select option:selected').attr('value'));
            $('#utility_params_inputs').html('');
            if (obj.utility_name == 'query_topic_model') {
                let label = document.createElement('label');
                label.setAttribute('for', 'model_pra_select');
                label.textContent = 'Select the model to use';
                let select = $('#model_tm_select').clone();
                select.attr('id', "model_pra_select");
                select.attr('name', "model_pra_select");
                $('#utility_params_inputs').append(label);
                $('#utility_params_inputs').append(select);
            }
            else {
              obj.utility_parameters.forEach(function(param){
                let input_id = obj.utility_name + '_' + param.parameter_name + '_input';
                let label = document.createElement('label');
                label.setAttribute('for', input_id);
                label.textContent = param.parameter_description;
                let input = document.createElement('input');
                input.setAttribute('id', input_id);
                input.name = param.parameter_name;
                input.value = param.parameter_default;
                input.className = "form-control";
                switch(param.parameter_type){
                  case 'string':
                    input.type = 'text';
                    break;
                  case 'integer':
                    input.type = 'number';
                    break;
                }
                $('#utility_params_inputs').append(label);
                $('#utility_params_inputs').append(input);
              });
            }
        });
    })
</script>