<div class="row">
    <div class="col-md-2">
        <nav class="nav-sidebar">
            <ul class="list-group list-group-flush" id="menu_list">
                <li class="list-group-item active" data-div="tab_home">
                    Home
                </li>
                <li class="list-group-item" data-div="tab_datasets">
                    Datasets
                </li>
                <li  class="list-group-item" data-div="tab_searches">
                    Saved Searches
                </li>
                <li  class="list-group-item" data-div="tab_experiments">
                    Experiments
                </li>
<!--                <li  class="list-group-item" data-div="tab_tasks">-->
<!--                    Tasks-->
<!--                </li>-->
                <li  class="list-group-item" data-div="tab_about">
                    About the collection
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
            <div class="menu_tab" id="tab_home">
                <%= render 'personal_workspace/home' %>
            </div>
            <div class="menu_tab" id="tab_datasets" style="display:none">
                <%= render 'datasets/datasets' %>
            </div>
            <div class="menu_tab" id="tab_searches" style="display:none">
                <%= render 'saved_searches/saved_searches' %>
            </div>
            <div class="menu_tab" id="tab_experiments" style="display:none">
                <%= render 'experiment/index' %>
            </div>
<!--            <div class="menu_tab" id="tab_tasks" style="display:none">-->
                <%#= render 'personal_research_assistant/tasks' %>
<!--            </div>-->
            <div class="menu_tab" id="tab_about" style="display:none">
                <%= render 'personal_workspace/about' %>
            </div>
        </div>
    </div>
</div>


<div id="modal-create_experiment" class="modal hide fade" role="dialog" aria-labelledby="create_experiment" aria-hidden="true">
    <div class="modal-dialog" role="document" style="display: table;">
        <div class="modal-content"></div>
    </div>
</div>