<div class="main_task <%= @task.task_type %>" id="<%= @task.uuid %>">
  <% case @task.task_type %>
  <% when "describe_search" %>
    <h2>Description of Search "<%= @search.description %>"</h2>
  <% when "describe_dataset" %>
    <h2>Description of Dataset "<%= @dataset.title %>"</h2>
  <% when "tm_query" %>
    <% if @dataset %>
      <h2>Topic distribution for dataset "<%= @dataset.title %>"</h2>
    <% elsif @search %>
      <h2>Topic distribution for search "<%= @search.description %>"</h2>
    <% end %>
  <% when "tm_doc_linking" %>
    <% if @dataset %>
      <h2>Documents similar to dataset "<%= @dataset.title %>"</h2>
    <% elsif @search %>
      <h2>Documents similar to search "<%= @search.description %>"</h2>
    <% end %>
  <% end %>

  <% case @task.task_type %>
  <% when "describe_search", "describe_dataset" %>
    <div id="run_report"></div>
    <% @task.subtasks.each do |subtask| %>
      <% processor_name = get_processor_name(@task, subtask) %>
      <div class="row">
        <% if processor_name == "ExtractFacets" %>
          <div id="<%= subtask.uuid %>" class=" col-md-12 subtask">
            <h3 class="subtask_name"><%= processor_name %></h3>
            <div id="<%= subtask.uuid %>_report"></div>
            <% subtask.results['result'].each do |entry, res| %>
              <% if res.keys.size != 1%> <%# if there is only one value, do not show graph %>
<!--                <div class="col-md-2" id="legend_<%#= subtask.uuid %>_<%#= entry %>"></div>-->
                <div class="col-md-10">
                  <div>
                    <canvas id="canvas_<%= subtask.uuid %>_<%= entry %>" style="height: 200px;"></canvas>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% elsif processor_name == "GenerateTimeSeries" %>
            <div id="<%= subtask.uuid %>" class=" col-md-12 subtask">
              <h3 class="subtask_name"><%= processor_name %></h3>
              <div id="<%= subtask.uuid %>_report"></div>
              <% subtask.results['result'].each do |entry, res| %>
                <div class="col-md-10">
                  <div>
                    <canvas id="canvas_<%= subtask.uuid %>_<%= entry %>" style="height: 200px;"></canvas>
                  </div>
                </div>
              <% end %>
            </div>
        <% else %>
            <div id="<%= subtask.uuid %>" class="col-md-12 subtask">
              <h3 class="subtask_name"><%= processor_name %></h3>
              <div id="<%= subtask.uuid %>_report"></div>
              <div class="col-md-10">
                <div>
                  <canvas id="canvas_<%= subtask.uuid %>" style="height: 200px;"></canvas>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  <% when "tm_query" %>
    <h4>Topic model used</h4>
    <% model_type = @task.parameters['model_type'] %>
    <% model_name = @task.parameters['model_name'] %>
    <%= link_to model_name, "/topic_models/describe_modal?"+{model_name: model_name, model_type: model_type}.to_param, remote: true %>
    <% if model_type == 'lda' %>
      (<%= link_to  "Visualize", "/topic_models/visualize/#{model_name}", remote: true %>)
    <% elsif model_type == "dtm" %>
      (<%= link_to  "Visualize", "/topic_models/visualize/#{model_name}", target:"_blank" %>)
    <% end %>
    <h4>Topics distribution</h4>
    <div>
      <canvas id="canvas_<%= @task.uuid %>" style="height: 200px;"></canvas>
    </div>
    <div>
      <canvas id="canvas_test" style="height: 200px;"></canvas>
    </div>
  <% when "tm_doc_linking" %>
    <h4>Topic model used</h4>
    <% model_type = @task.parameters['model_type'] %>
    <% model_name = @task.parameters['model_name'] %>
    <%= link_to model_name, "/topic_models/describe_modal?"+{model_name: model_name, model_type: model_type}.to_param, remote: true %>
    <% if model_type == 'lda' %>
      (<%= link_to  "Visualize", "/topic_models/visualize/#{model_name}", remote: true %>)
    <% elsif model_type == "dtm" %>
      (<%= link_to  "Visualize", "/topic_models/visualize/#{model_name}", target:"_blank" %>)
    <% end %>
    <h4>Similar documents</h4>
    <div class="row">
      <div class="col-md-3">
        <%= render partial: "personal_workspace/datasets_handling" %>
      </div>
      <div class="col-md-9">
        <% @documents_list.each_with_index do |doc, doc_idx| %>
          <%= render partial: 'datasets/document', locals: {document: SolrDocument.new(doc), idx: doc_idx} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>