<div class="panel panel-default" id="tasks_panel">
  <div class="panel-heading">
    Tasks
    <form id="refresh_tasks_form" class="form-inline" style="float: right;" novalidate="novalidate" data-remote="true" action="/personal_workspace/update_tasks" accept-charset="UTF-8" method="get">
      <%= csrf_meta_tags %>
      <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span></button>
    </form>
  </div>
  <div class="panel-body">

    <div class="list-group">
      <% Task.where(user: current_user, subtask: false).select{ |t| !t.started.nil? }.sort_by { |t| t.started }.reverse.each do |t| %>
        <% case t.task_type %>
        <% when 'investigator', 'investigate' %>
          <% style = t.status == "finished" ? "list-group-item-success" : "list-group-item-warning" %>
          <li class="list-group-item <%= style %>">
            <div style="position: relative">
              <div class="clearfix">
                <span style="float: left">
                  <a class="" id="task_<%= t.uuid %>" data-toggle="collapse" href="#subtasks_<%= t.uuid %>">
                      Started at: <%= t.started %> |
                      Task type: <%= t.task_type %> |
                      uuid: <%= t.uuid %>
                  </a>
                </span>
                <span style="float: right">
                  <%= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
                </span>
              </div>
            </div>
          </li>
          <div class="collapse list-group-submenu" id="subtasks_<%= t.uuid %>">
            <ul>
              <% t.subtasks.each do |subtask| %>
                <% style = subtask.status == "finished" ? "list-group-item-success" : "list-group-item-warning" %>
                <li class="list-group-item sub-item <%= style %>" style="padding-left: 30px">
                  <div class="clearfix">
                    <span style="float: left">
                      Started at: <%= subtask.started %> |
                      Task type: <%= subtask.task_type %> |
                      <% if subtask.task_type == 'analysis' %>
                        [<%= subtask.parameters['utility'] %>] |
                      <% end %>
                      uuid: <%= subtask.uuid %>
                    </span>
                    <span style="float: right">
                      <%= render partial: 'personal_research_assistant/tasks_actions', locals: {task: subtask} %>
                    </span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% when 'search', 'analysis'%>
          <% style = t.status == "finished" ? "list-group-item-success" : "list-group-item-warning" %>
          <li class="list-group-item <%= style %>">
            <div class="clearfix">
              <span style="float: left">
                Started at: <%= t.started %> |
                Task type: <%= t.task_type %> |
                <% if t.task_type == 'analysis' %>
                  [<%= t.parameters['utility'] %>] |
                <% end %>
                uuid: <%= t.uuid %>
              </span>
              <span style="float:right">
                <%= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
              </span>
            </div>
          </li>
        <% when 'tm_query' %>
          <% text = "Started at: #{t.started} | Topic distribution for dataset \"#{t.dataset.title}\" (using model \"#{t.parameters['model_name']}\")" %>
          <% if t.status == "finished" %>
            <% style = "list-group-item-success" %>
            <% task_text = link_to(text, "/personal_workspace/show/#{t.id}") %>
          <% else %>
            <% style = "list-group-item-warning" %>
            <% task_text = text %>
          <% end %>
          <% style = t.status == "finished" ? "list-group-item-success" : "list-group-item-warning" %>
          <li class="list-group-item <%= style %>">
            <div class="clearfix">
              <%= task_text %>
              <span style="float:right">
                <%= link_to "/personal_workspace/delete_task/#{t.uuid}",  {remote: true, 'data-confirm': "Are you sure you want to delete this task ?", class: 'btn btn-link'} do %>
                  <span class="glyphicon glyphicon-remove" style="color: red"></span>
                <% end %>
                <%#= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
              </span>
            </div>
          </li>
        <% when 'tm_doc_linking' %>
          <% text = "Started at: #{t.started} | Linked documents for dataset \"#{t.dataset.title}\" (using model \"#{t.parameters['model_name']}\")" %>
          <% if t.status == "finished" %>
            <% style = "list-group-item-success" %>
            <% task_text = link_to(text, "/#{I18n.locale}/personal_workspace/show/#{t.id}") %>
          <% else %>
            <% style = "list-group-item-warning" %>
            <% task_text = text %>
          <% end %>
          <% style = t.status == "finished" ? "list-group-item-success" : "list-group-item-warning" %>
          <li class="list-group-item <%= style %>">
            <div class="clearfix">
              <%= task_text %>
              <span style="float:right">
                <%= link_to "/personal_workspace/delete_task/#{t.uuid}",  {remote: true, 'data-confirm': "Are you sure you want to delete this task ?", class: 'btn btn-link'} do %>
                  <span class="glyphicon glyphicon-remove" style="color: red"></span>
                <% end %>
                <%#= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
              </span>
            </div>
          </li>
        <% when "describe_search" %>
          <% text = "Started at: #{t.started} | Description of search \"#{t.search.description}\"" %>
          <% if t.status == "finished" %>
            <% style = "list-group-item-success" %>
            <% task_text = link_to(text, "/#{I18n.locale}/personal_workspace/show/#{t.id}") %>
          <% else %>
            <% style = "list-group-item-warning" %>
            <% task_text = text %>
          <% end %>
          <li class="list-group-item <%= style %>">
            <div class="clearfix">
              <%= task_text %>
              <span style="float:right">
                <%= link_to "/personal_workspace/delete_task/#{t.uuid}",  {remote: true, 'data-confirm': "Are you sure you want to delete this task ?", class: 'btn btn-link'} do %>
                  <span class="glyphicon glyphicon-remove" style="color: red"></span>
                <% end %>
                <%#= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
              </span>
            </div>
          </li>
        <% when "describe_dataset" %>
          <% text = "Started at: #{t.started} | Description of dataset \"#{t.dataset.title}\"" %>
          <% if t.status == "finished" %>
            <% style = "list-group-item-success" %>
            <% task_text = link_to(text, "/#{I18n.locale}/personal_workspace/show/#{t.id}") %>
          <% else %>
            <% style = "list-group-item-warning" %>
            <% task_text = text %>
          <% end %>
          <li class="list-group-item <%= style %>">
            <div class="clearfix">
              <%= task_text %>
              <span style="float:right">
                <%= link_to "/personal_workspace/delete_task/#{t.uuid}",  {remote: true, 'data-confirm': "Are you sure you want to delete this task ?", class: 'btn btn-link'} do %>
                  <span class="glyphicon glyphicon-remove" style="color: red"></span>
                <% end %>
                <%#= render partial: 'personal_research_assistant/tasks_actions', locals: {task: t} %>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
