<div id="pra_tools" style="display:none" data-tools="<%= @tools %>"></div>
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="panel panel-default" id="status_panel">
                <div class="panel-heading">
                    <span style="font-weight: bold">Status of the experiment</span>
                </div>
                <div class="panel-body">
                    <p>
                        <span title="Experiments created by the Personal Research Assistant can't be edited directly." class="glyphicon glyphicon-question-sign"></span>
                        <span style="font-weight: bold">Experiment owner:</span>
                        <span><%= @experiment.get_owner %></span>
                    </p>
                    <p>
                        <span style="font-weight: bold">Tasks finished:</span>
                        <span id="expe_status_nb_tasks"><%= @experiment.get_nb_processors_finished %>/<%= @experiment.get_nb_processors %></span>
                    </p>
                    <hr/>
                    <div style="width: 100%; text-align: center;">
                        <% if @experiment.task %>
                            <div id="expe_pra_buttons">
                                <%= button_to "Explain",
                                              "/experiment/explain",
                                              method: "post",
                                              remote: true,
                                              params: {task_uuid: @experiment.task.uuid},
                                              class: "btn btn-primary" %>
                                <%= button_to "Report",
                                              "/experiment/report",
                                              method: "post",
                                              remote: true,
                                              params: {task_uuid: @experiment.task.uuid},
                                              class: "btn btn-primary" %>
                            </div>
                        <% else %>
                            <%= button_to "Add a data source",
                                          "/experiment/add_data_source_modal",
                                          method: "post",
                                          remote: true,
                                          params: {experiment_id: @experiment.id},
                                          class: "btn btn-primary expe_user_button" %>
                            <%= button_to "Run/Update experiment",
                                          "/experiment/run",
                                          method: "post",
                                          remote: true,
                                          params: {experiment_id: @experiment.id},
                                          id: "run_update_button",
                                          class: "btn btn-primary expe_user_button" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default" id="selected_node_panel" style="display: none;">
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-btn">
<!--                            <button id="run_experiment_from_button" class="btn btn-success">-->
<!--                                <span class="glyphicon glyphicon-play"></span>-->
<!--                            </button>-->
                            <button id="node_results_button" class="btn btn-info">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                View results
                            </button>
<!--                            <button id="node_parameters_button" class="btn btn-secondary">-->
<!--                                <span class="glyphicon glyphicon-cog"></span>-->
<!--                            </button>-->
                        </span>
                    </div>
                    <% if @experiment.get_owner != "PRA" %>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="add_output_button" class="btn btn-info add_output">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    Add tool
                                </button>
                                <button id="delete_node_button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                    Delete node
                                </button>
                            </span>
                        </div>
                    <% end %>
                    <hr/>
                    <div id="attributes_panel">
                        <p class="panel-subtitle">Attributes</p>
                        <dl id="node_attrs">
                            <dt>Type</dt>
                            <dd id="type_attr"></dd>
                            <dt>ID</dt>
                            <dd id="id_attr"></dd>
                            <dt>Parameters</dt>
                            <dd id="params_attr"></dd>
                        </dl>
                        <hr/>
                    </div>
                    <div id="task_panel">
                        <p class="panel-subtitle">Task</p>
                    </div>
                </div>
            </div>
          </div>
    </div>

    <div class="col-md-10">
        <button id="fit_view_button">Fit view</button>
        <div id="graph_container"></div>
    </div>
</div>

<div id="modal-add_data_source" class="modal hide fade" role="dialog" aria-labelledby="add_data_source" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div id="modal-report" class="modal hide fade" role="dialog" aria-labelledby="explain" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div id="modal-explain" class="modal hide fade" role="dialog" aria-labelledby="explain" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div id="modal-add_output" class="modal hide fade" role="dialog" aria-labelledby="add_output" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:100vh;">
    <div class="modal-content"></div>
  </div>
</div>
<div id="modal-parameters" class="modal hide fade" role="dialog" aria-labelledby="parameters" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div id="modal-results" class="modal hide fade" role="dialog" aria-labelledby="results" aria-hidden="true">
  <div class="modal-dialog" role="document" style="display: table;">
    <div class="modal-content"></div>
  </div>
</div>