<div id="add_to_dataset">
  <div id="create_and_add_dataset">
  <%= simple_form_for Dataset.new, html: {id: 'add_to_dataset_form', class: 'form-inline'}, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Title' %>
      <%= f.text_field :title %>
      <%= f.input :searches, :as => :hidden, :input_html => { :value => request.original_url } %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
<!--      <input type="hidden" name="search" value="<%#= request.original_url %>">-->
    </div>
    <%= f.submit "Create and add" %>
  <% end %>
  </div>
  <% unless current_user.datasets.empty? %>
    <p>---------- OR----------</p>
    <div id="select_existing_dataset">
      <select name="dataset_selector_name" id="dataset_selector" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur(); select_changed();'>
        <% current_user.datasets.each_with_index do |dataset, ind| %>
          <% if ind==0 %>
            <option value="<%= dataset.id %>" selected="selected"><%= dataset.title %></option>
          <% else %>
            <option value="<%= dataset.id %>"><%= dataset.title %></option>
          <% end %>
        <% end %>
      </select>
      <form id="add_search_form" class="simple_form" actioncreate="/datasets/<%= current_user.datasets[0].id %>" accept-charset="UTF-8" method="post" remote="true">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="_method" type="hidden" value="patch" />
        <input type="hidden" name="dataset[searches]" value="<%= request.original_url %>">
        <input type="submit" name="commit" value="Add to selected dataset" class="btn" data-disable-with="Update Dataset">
      </form>
    </div>
  <% end %>
  <div id="log_add_to_dataset"></div>
</div>

<!--Script onchange de la liste pour mettre à jour le formulaire-->
<script type="application/javascript">
    function select_changed() {
        console.log('ok');
        var e = document.getElementById("dataset_selector");
        var val = e.options[e.selectedIndex].value;
        var txt = e.options[e.selectedIndex].text;
        var f = document.getElementById("add_search_form");
        f.action = '/datasets/'+val;
    }
</script>