<div class="panel panel-default">
  <div class="panel-heading">Datasets</div>
  <div class="panel-body flex-grow">
    <table class="table">
      <tbody>
      <% current_user.dataset_ids.each do |dataset_id| %>
        <% dataset = Dataset.find(dataset_id) %>
        <tr>
          <td><%= dataset.title %></td>
          <td><%= link_to 'Show', dataset %></td>
          <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
          <td><%= link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= dataset.searches.size %> searches, <%= dataset.issues.size %> issues and <%= dataset.articles.size %> articles</td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'New Dataset', new_dataset_path %>
  </div>
</div>