<% doc_presenter = index_presenter(document) %>
<div class="document">
  <div class="documentHeader row">
    <h3 class="index_title document-title-heading col-md-12">
      <span class="document-counter"><%= "#{idx+1}. " %></span>
      <% text = document['title_ssi'].nil? ? "Article" : document['title_ssi'] %>
      <%= link_to text, controller: "catalog", action: "show", id: document['id'] %>
    </h3>
  </div>
  <dl class="document-metadata dl-horizontal dl-invert col-md-8">
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
      <% end -%>
    <% end -%>
    <dt>Relevancy</dt>
    <dd><%= get_relevancy_text document['relevancy'] %></dd>

    <form autocomplete="off" novalidate="novalidate" data-remote="false" action="/catalog/modify_doc_relevancy" accept-charset="UTF-8" method="post" class="form-inline">
      <label for="specific_dataset_relevancy">Set relevancy to:</label>
      <select name="specific_dataset_relevancy" class="form-control form-control-sm">
        <%= options_for_select [["Not relevant", 0],["Somewhat relevant",1],["Relevant",2],["Very relevant",3]] %>
      </select>
      <input type="hidden" name="doc_id" value="<%= document.id %>"/>
      <input type="hidden" name="current_url" value="<%= request.original_url %>"/>
      <input type="hidden" name="current_dataset" value="<%= @dataset.id %>"/>
      <button class="specific_apply_relevancy btn btn-default" type="submit" href="#" data-disable-with="Working...">
        Apply
      </button>
    </form>
  </dl>
</div>
<hr/>