<% doc_presenter = index_presenter(document) %>
<div class="document">
  <div class="documentHeader row">
    <h3 class="index_title document-title-heading col-md-12">
      <span class="document-counter"><%= "#{idx+1}. " %></span>
        <% if document['title_ssi'].nil? %> <!-- Article -->
            <%= link_to "Article", controller: "catalog", action: "show", id: document['id'] %>
        <% elsif document['from_issue_ssi'].nil? %><!-- Issue -->
            <%= link_to document['title_ssi'], controller: "catalog", action: "show", id: document['id'] %>
        <% else %> <!-- Compound -->
            <%= link_to document['title_ssi'], controller: "catalog", action: "show", id: document['from_issue_ssi'] %>
        <% end %>
    </h3>
  </div>
  <dl class="document-metadata dl-horizontal dl-invert col-md-8">
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
      <% end -%>
    <% end -%>
    <div class="dataset_info document_<%= document.id %>">
      <div class="in_datasets_list">
        <input type="checkbox" id="" class="dataset_check"/>
        <% in_datasets = current_user.datasets_with_doc(document['id'].to_s) %>
        <% unless in_datasets.empty? %>
          <p>
            Currently belongs to:
            <% in_datasets.each do |dataset_id, dataset_title, relevancy| %>
              <% badge_type, tooltip = get_info_from_relevancy relevancy %>
              <%= link_to dataset_path(dataset_id) do %>
                <span class="dataset-<%= dataset_id %> badge badge-<%= badge_type %>" title="<%= tooltip %>" data-relevancy="<%= relevancy %>"><%= dataset_title %></span>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </dl>
  <div class="document-thumbnail col-md-4">
  <% if document['title_ssi'].nil? %> <!-- Article -->
      <%= link_to image_tag(document['thumbnail_url_ss']), controller: "catalog", action: "show", id: document['id'] %>
  <% elsif document['from_issue_ssi'].nil? %><!-- Issue -->
      <%= link_to image_tag(document['thumbnail_url_ss']), controller: "catalog", action: "show", id: document['id'] %>
  <% else %> <!-- Compound -->
      <%= link_to image_tag(document['thumbnail_url_ss']), controller: "catalog", action: "show", id: document['from_issue_ssi'] %>
  <% end %>
  </div>
</div>