
<%= simple_form_for(@dataset) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= select_tag(:docs_to_remove, options_for_select(@dataset.searches), {id: 'delete_searches_select', class: "selectpicker", multiple: true}) %>
<%= button_tag "Remove selected searches", type: 'button', onclick: "delete_selected_docs_from_dataset()", class: 'btn btn-default' %>

<!--<form id="delete_searches_form" class="simple_form" action="/datasets/<%#= current_user.datasets[0].id %>" accept-charset="UTF-8" method="post" remote="true">-->
  <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
<!--  <input name="_method" type="hidden" value="patch" />-->
<!--  <input type="hidden" name="dataset[searches_to_remove]" value="<%#= request.original_url %>" id="searches_input">-->
<!--  <input type="submit" name="commit" value="Remove selected searches" class="btn" data-disable-with="Update Dataset">-->
<!--</form>-->

<!--<script type="application/javascript">-->
<!--    function delete_search_select_changed() {-->
<!--        console.log('okoo');-->
<!--        var e = document.getElementById("delete_searches_select");-->
<!--        var inp = document.getElementById("searches_input");-->
<!--        inp.value = [...e.options].filter(option => option.selected).map(option => option.value);-->
<!--    }-->
<!--</script>-->
<script type="application/javascript">
    function delete_selected_docs_from_dataset() {
        var e = document.getElementById("delete_searches_select");
        var searches = [...e.options].filter(option => option.selected).map(option => option.value);
        console.log(searches);
        $.ajax({
            url: "/datasets/<%= @dataset.id %>/delete_searches",
            type: "post",
            dataType: "application/json",
            data: {'dataset': {'searches_to_remove': searches}, 'authenticity_token': document.querySelector('meta[name="csrf-token"]').content},
            success: function(data) {console.log(data);},
            error: function(data) {console.log("error");console.log(data);}
        });
    }
</script>