<h1>Editing Dataset "<%= @dataset.title %>"</h1>
<% if current_user.id == @dataset.user_id %>
  <div class="row">
    <form novalidate="novalidate" data-remote="true" action="/datasets/<%= @dataset.id %>" accept-charset="UTF-8" method="post" class="form-inline">
      <%= csrf_meta_tags %>
      <input name="_method" type="hidden" value="patch" />
      <input type="text" name="dataset[title]" placeholder="<%= @dataset.title %>">
      <button type="submit" class="btn btn-primary">Update dataset title</button>
    </form>
  </div>

  <div id="datasets_delete_selects">
    <%= render partial: 'datasets/delete_select' %>
  </div>

  <%= link_to 'Show', @dataset %><% else %>
  <p>Access forbidden.</p>
<% end %>
<%= link_to 'Back to Personal workspace', "/#{I18n.locale}/personal_workspace" %>

<script type="application/javascript">
    $(function(){
        console.log('ready');

        $('ul.list-group li input').toArray().forEach(function(element) {
            element.checked = false;
        });

        $('#delete_form').submit(function() {
            var searches = [];
            $('ul#search_list li input:checked').toArray().forEach(function(element) {
                searches.push(element.parentNode.textContent);
            });
            var issues = [];
            $('ul#issue_list li input:checked').toArray().forEach(function(element) {
                issues.push(element.parentNode.textContent);
            });
            var articles = [];
            $('ul#article_list li input:checked').toArray().forEach(function(element) {
                articles.push(element.parentNode.textContent);
            });
            $('input:hidden[name=\'searches[]\']').val(searches);
            $('input:hidden[name=\'issues[]\']').val(issues);
            $('input:hidden[name=\'articles[]\']').val(articles);
            return true; // return false to cancel form action
        });

        $('ul.list-group li').click(function(e) {
            e.preventDefault();
            $that = $(this);
            var classlist = $that.attr('class').split(/\s+/);
            if(classlist.includes('active')){
                $that.find('input')[0].checked=false;
                classlist.splice( classlist.indexOf('active'), 1 );
            }
            else{
                $that.find('input')[0].checked=true
                classlist.push('active');
            }
            $that.attr('class', classlist.join(' '));
        });
    })
</script>