<h1>Editing Dataset "<%= @dataset.title %>"</h1>
<% if current_user.id == @dataset.user_id %>
  <div class="row">
    <form novalidate="novalidate" data-remote="true" action="/datasets/<%= @dataset.id %>" accept-charset="UTF-8" method="post" class="form-inline">
      <%= csrf_meta_tags %>
      <input name="_method" type="hidden" value="patch" />
      <input type="text" name="dataset[title]" placeholder="<%= @dataset.title %>">
      <button type="submit" class="btn btn-primary">Update dataset title</button>
    </form>
  </div>

  <div id="datasets_delete_selects">
    <%= render partial: 'datasets/delete_select' %>
  </div>

  <%= link_to 'Show', @dataset %>
<% else %>
  <p>Access forbidden.</p>
<% end %>
<%= link_to 'Back to Personal workspace', "/#{I18n.locale}/personal_research_assistant" %>