<% if current_user.id == @dataset.user_id %>
  <div class="row">
    <div style="display: none" id="div_dataset_id"><%= @dataset.id %></div>
    <div class="col-md-3">
      <p>
        <strong>Title:</strong>
        <%= @dataset.title %>
        <%= link_to "/datasets/rename_dataset_modal/#{@dataset.id}",  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-rename-dataset', class: 'btn btn-link'} do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </p>
      <p>
        <%= @dataset.nb_articles %> articles.
        <%= @dataset.nb_issues %> issues.
      </p>

      <div class="search-widgets">
        <div id="sort-dropdown" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Sort by... <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "date (⬇)", url_for(sort: "date") %></li>
            <li><%= link_to "date (⬆)", url_for(sort: "date", sort_order: "desc") %></li>
            <li><%= link_to "relevancy (⬇)", url_for(sort: "relevancy") %></li>
            <li><%= link_to "relevancy (⬆)", url_for(sort: "relevancy", sort_order: "desc") %></li>
          </ul>
        </div>
      </div>

      <div id="export-dropdown" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Export dataset as... <span class="caret"></span>
        </button>
        <form id="export_form" class="form-inline" novalidate="novalidate" method='post' action="/export_dataset/zipped">
          <input type="hidden" name="id" value="<%= @dataset.id %>">
        </form>
        <ul class="dropdown-menu" role="menu">
          <li><a id="zip_export_anchor">ZIP</a></li>
          <li><a id="csv_export_anchor">CSV</a></li>
          <li><a id="json_export_anchor">JSON</a></li>
        </ul>
      </div>

      <div>
        <form id="merge_datasets_form" class="form-inline" novalidate="novalidate" data-remote="true" method='post' action="/datasets/merge">
          <div class="form-group">
            <label for="merge_datasets_select">Merge another dataset into this one</label>
            <select name="merge_datasets_select" class="form-control form-control-sm">
              <%= options_for_select get_datasets_for_user(current_user).map{|d| d.reverse}.select{|d| d[1] != @dataset.id} %>
            </select>
          </div>
            <input type="hidden" name="dataset_id" value="<%= @dataset.id %>"/>
            <% @dataset.documents.each do |document| %>
              <input type="hidden" name="relevancy[<%= document['id'] %>]" value="<%= document['relevancy'] %>"></input>
            <% end %>
          <div class="form-group">
            <button class="btn btn-default" type="submit" href="#" id="apply_datasets_merge">
              Merge
            </button>
          </div>
        </form>
        <%#= button_to "Merge another dataset into this one",
                      "/datasets/merge",
                      method: "post",
                      remote: true,
                      params: {dataset_id: @dataset.id} %>
      </div>

      <div>
        <button type="button" class="btn btn-default">
          Create a sub-dataset
        </button>
      </div>

      <hr/>
      <div>
        <%= button_to "Search for documents with similar linked entities",
                      "/catalog/linked_entity_search",
                      method: "post",
                      params: {dataset_id: @dataset.id} %>
      </div>
      <hr/>

      <div>
        <%= render partial: "datasets/datasets_handling" %>
      </div>
    </div>

    <div class="col-md-9 documents-list">
      <% @documents_list.each_with_index do |doc, doc_idx| %>
        <%= render partial: 'datasets/document', locals: {document: SolrDocument.new(doc), idx: doc_idx} %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Access forbidden.</p>
<% end %>

