<% if current_user.id == @dataset.user_id %>
  <div>
    <strong>Title:</strong>
    <p><%= @dataset.title %></p>
    <strong>Searches</strong>
    <p>
      <% @dataset.searches.each do |search| %>
      <p><%= CGI::unescape search %></p>
      <% end %>
    </p>
    <strong>Documents</strong>
    <p>
      <% @dataset.issues.each do |doc| %>
        <p><%= doc %></p>
      <% end %>
    </p>
    <strong>Articles</strong>
    <p>
      <% @dataset.articles.each do |doc| %>
        <p><%= doc %></p>
      <% end %>
    </p>
  </div>

  <%= link_to 'Edit', edit_dataset_path(@dataset) %>
<% else %>
  <p>Access forbidden.</p>
<% end %>
<%= link_to 'Back', "/#{I18n.locale}/datasets" %>
