<!--<p id="notice"><%#= notice %></p>-->

<div>
  <strong>Title:</strong>
  <p><%= @dataset.title %></p>
  <strong>Searches</strong>
  <% @dataset.searches.each do |search| %>
  <p><%= search %></p>
  <% end %>
  <strong>Documents</strong>
  <% @dataset.issues.each do |doc| %>
    <p><%= doc %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', '/personal_workspace' %>
