<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dataset.title %>
  <% @dataset.searches.each do |search| %>
  <p><%= search %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
