<h4>Selected Article</h4>
<div class="in_datasets_list">
  <% in_datasets = current_user.datasets_with_doc(@document.id) %>
  <% unless in_datasets.empty? %>
    <p>
      Currently belongs to:
      <% in_datasets.each do |dataset_id, dataset_title, relevancy| %>
        <% badge_type, tooltip = get_info_from_relevancy relevancy %>
        <%= link_to dataset_path(dataset_id) do %>
          <span class="dataset-<%= dataset_id %> badge badge-<%= badge_type %>" title="<%= tooltip %>" data-relevancy="<%= relevancy %>"><%= dataset_title %></span>
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>

<% if current_user.datasets.empty? %>
  <div>
    <p><%= link_to "Create a dataset", "/datasets/new" %> to add documents to.</p>
  </div>
<% else %>
  <div>
    <form autocomplete="off" novalidate="novalidate" data-remote="true" action="/catalog/set_working_dataset" accept-charset="UTF-8" method="post" class="form-inline">
      <label for="dataset[id]">Working dataset:</label>
      <select id="working_dataset_select" name="dataset[id]" class="form-control form-control-sm">
        <%= session[:working_dataset] ||= current_user.datasets.first.id %>
        <%= options_for_select(current_user.datasets.map{|d| ["#{d.title} (#{d.documents.size} docs)", d.id]}, session[:working_dataset]) %>
      </select>
    </form>
  </div>
  <div>
    <form autocomplete="off" novalidate="novalidate" data-remote="false" action="/catalog/modify_doc_relevancy" accept-charset="UTF-8" method="post" class="form-inline">
      <label for="specific_dataset_relevancy">Set relevancy towards <span class="working_dataset_span"><%= Dataset.find(session['working_dataset']).title %></span>: </label>
      <select name="specific_dataset_relevancy" class="form-control form-control-sm">
        <%= options_for_select [["Delete", -1],["Not relevant", 0],["Somewhat relevant",1],["Relevant",2],["Very relevant",3]] %>
      </select>
      <input type="hidden" name="doc_id" value="<%= @document.id %>"/>
      <input type="hidden" name="current_url" value="<%= request.original_url %>"/>
      <button class="specific_apply_relevancy btn btn-default" type="submit" href="#" data-disable-with="Working...">
        Apply
      </button>
    </form>
  </div>
<% end %>

