<p>Add this issue to a new dataset</p>
<form novalidate="novalidate" data-remote="true" action="/datasets/create_and_add" accept-charset="UTF-8" method="post">
  <%= csrf_meta_tags %>
  <input type="text" name="dataset[title]" placeholder="Dataset title">
  <input type="hidden" name="dataset[issue]" value="<%= request.original_url[request.original_url.rindex('/')+1..-1] %>">
  <input type="hidden" name="dataset[user_id]" value="<%= current_user.id %>">
  <button type="submit" class="btn btn-primary">Create and Add</button>
</form>

<p>Add this issue to an existing dataset</p>
<form novalidate="novalidate" data-remote="true" action="/datasets/add" accept-charset="UTF-8" method="post">
  <%= csrf_meta_tags %>
  <select name="dataset[id]" class="form-control">
    <option value="" disabled selected>Select your dataset</option>
    <%= options_for_select(current_user.datasets.map{|d| [d.title, d.id]}) %>
  </select>
  <input type="hidden" name="dataset[issue]" value="<%= request.original_url[request.original_url.rindex('/')+1..-1] %>">
  <button type="submit" class="btn btn-primary">Add</button>
</form>
