<% if query_has_constraints? %>

  <div id="appliedParams" class="clearfix constraints-container">
    <div class="pull-right">
      <%#
        search_parameters = @response['responseHeader']['params'].deep_dup
        search_parameters.except! *search_parameters.keys.select{ |k| k.index('hl') == 0 }
        search_parameters.except! *search_parameters.keys.select{ |k| k.index('stats') == 0 }
        search_parameters['fq'] = search_parameters['fq'].select{|elt| elt.index('access_group_ssim').nil? }
        search_parameters['current_url'] = request.original_url
        solr_params = get_solr_params request.original_url
        puts "#####################"
        puts solr_params
      %>
      <ul id="search_menu_list">
        <li>
          <%= button_to("Save search", "/saved_searches/save", {class: "btn btn-primary",
                                                                id: "save_search_button",
                                                                method: :post,
                                                                params: {'current_url': request.original_url},
                                                                remote: true,
                                                                'data-disable-with': 'Saving search...'}) %>
        </li>
          <li>
              <%= button_to("Add all documents to a dataset", "/add_all_docs_to_dataset_modal", {class: "btn btn-primary",
                                                                                                 id: "add_all_button",
                                                                                                 method: :get,
                                                                                                 remote: true}) %>
          </li>
          <li>
              <%= button_to("Get a random sample", "/random_samples_modal", {class: "btn btn-primary",
                                                                                     id: "random_sample_button",
                                                                                     method: :get,
                                                                                     remote: true}) %>
          </li>
<!--        <li>-->
          <%#=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-sm btn-text", :id=>"startOverLink" %>
<!--        </li>-->
      </ul>
    </div>
    <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>