<% doc_presenter = index_presenter(document) %> 
<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert col-md-8">
  
  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
    <% end -%>
  <% end -%>

  <div class="dataset_info document_<%= document.id %>">
    <div class="in_datasets_list">
      <input type="checkbox" id="" class="dataset_check"/>
      <% in_datasets = current_user.datasets_with_doc(document.id) %>
      <% unless in_datasets.empty? %>
        <p>
          Currently belongs to:
          <% in_datasets.each do |dataset_id, dataset_title, relevancy| %>
            <% badge_type, tooltip = get_info_from_relevancy relevancy %>
            <%= link_to dataset_path(dataset_id) do %>
              <span class="dataset-<%= dataset_id %> badge badge-<%= badge_type %>" title="<%= tooltip %>" data-relevancy="<%= relevancy %>"><%= dataset_title %></span>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <% if document.solr_response[:highlighting] %>
    <% if document.solr_response[:highlighting][document[:id]] %>
      <% document.solr_response[:highlighting][document[:id]].keys.each do |hl_field| %>
        <% unless document.solr_response[:highlighting][document[:id]][hl_field].empty? %>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#<%= document[:id] %>_extracts" data-toggle="collapse">See extracts</a>
                </h4>
              </div>

              <div id="<%= document[:id] %>_extracts" class="panel-collapse collapse">
                <ul class="list-group">
                  <% document.solr_response[:highlighting][document[:id]][hl_field].each do |extract| %>
                    <li class="list-group-item"><em>...<%= extract.gsub(/\n/,'<br/>').gsub('<br/><br/>','<br/>').html_safe %>...</em></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</dl>