<div id="article_links" class="panel panel-default">
  <div class="panel-body">
    <%= link_to "Original Issue", "#{url_for(controller: 'catalog')}/#{@document[:from_issue_ssi]}", :id=>"originalIssueLink" %>
    <%#= link_to "manifest", "#{url_for(controller: 'iiif', action: 'manifest', id: @document[:from_issue_ssi], locale: nil)}" %>
  </div>
</div>

<div id="manage_tools" class="panel panel-default">
  <div class="panel-body">
    <%= render 'add_article_to_dataset_dropdown' %>
  </div>
</div>

<div id="named_entities_list" class="panel panel-default">
  <div class="panel-body">
    <div>
      <% named_entities = get_named_entities_for_doc(@document.id) %>
      <h3>Persons</h3>
      <ul>
        <% named_entities[:PER].keys.each do |label| %>
        <li><%= label %></li>
        <ul>
          <% named_entities[:PER][label].each do |ne| %>
            <li><%= ne.mention %></li>
          <% end %>
        </ul>
        <% end %>
      </ul>
    </div>
    <div>
      <h3>Locations</h3>
      <ul>
        <% named_entities[:LOC].keys.each do |label| %>
          <li><%= label %></li>
          <ul>
            <% named_entities[:LOC][label].each do |ne| %>
              <li><%= ne.mention %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <div>
      <h3>Organizations</h3>
      <ul>
        <% named_entities[:ORG].keys.each do |label| %>
          <li><%= label %></li>
          <ul>
            <% named_entities[:ORG][label].each do |ne| %>
              <li><%= ne.mention %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>
