<%#= render :partial => 'show_tools' %>
  
<%# unless @document.more_like_this.empty? %>
<!--  <div class="panel panel-default">-->
<!--    <div class="panel-heading">More Like This</div>-->
<!--    <div class="panel-body">-->
      <%#= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
<!--    </div>-->
<!--  </div>-->
<%# end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="annotationLayerControls">
      <div class="form-group">
        <form accept-charset="UTF-8" action="/annotations/search" method="get">
          <label for="select_layer">Select list:</label>
          <select class="form-control" id="select_layer" name="layer" autocomplete="off">
            <option value="no" selected="selected">No layer</option>
<!--            <option value="word">Word-level</option>-->
<!--            <option value="line">Line-level</option>-->
<!--            <option value="entities">Entity-level</option>-->
<!--            <option value="block">Block-level</option>-->
          </select>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div id="anno_content" class="panel panel-default">-->
<!--  <div class="panel-body">-->
<!--  </div>-->
<!--</div>-->

<div id="manage_tools" class="panel panel-default">
  <div class="panel-body">
    <%= render 'add_issue_to_dataset_dropdown' %>
  </div>
</div>

<% named_entities = get_named_entities_for_doc(@document.id) %>
<% puts named_entities.keys %>
<div id="named_entities_persons_list" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">
      Persons
      <span style="color: grey">
        (<%= named_entities[:PER].keys.size %> entities,
        <%= named_entities[:PER].keys.map{ |nel| named_entities[:PER][nel].size }.reduce(:+) %> mentions)
      </span>
    </a></h4>
  </div>
  <div id="collapse1" class="panel-collapse collapse">
    <ul class="list-group">
      <% named_entities[:PER].keys.each do |label| %>
        <li class="list-group-item"><a data-toggle="collapse" href="#collapse1b"><%= label %></a></li>
        <div id="collapse1b" class="panel-collapse collapse">
          <ul class="list-group">
            <% named_entities[:PER][label].each do |ne| %>
              <li class="list-group-item ne_mention">
                <%= ne['mention_ssi'] %>
                <p style="display: none;">
                  <%= get_bbox_from_annotations ne['selector_ssim'] %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<div id="named_entities_locations_list" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse2">
      Locations
      <span style="color: grey">
        (<%= named_entities[:LOC].keys.size %> entities,
        <%= named_entities[:LOC].keys.map{ |nel| named_entities[:LOC][nel].size }.reduce(:+) %> mentions)
      </span>
    </a></h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <ul class="list-group">
      <% named_entities[:LOC].keys.each do |label| %>
        <li class="list-group-item"><a data-toggle="collapse" href="#collapse2b"><%= label %></a></li>
        <div id="collapse2b" class="panel-collapse collapse">
          <ul class="list-group">
            <% named_entities[:LOC][label].each do |ne| %>
              <li class="list-group-item ne_mention">
                <%= ne['mention_ssi'] %>
                <p style="display: none;">
                  <%= get_bbox_from_annotations ne['selector_ssim'] %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<div id="named_entities_organizations_list" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse3">
      Organizations
      <span style="color: grey">
        (<%= named_entities[:ORG].keys.size %> entities,
        <%= named_entities[:ORG].keys.map{ |nel| named_entities[:ORG][nel].size }.reduce(:+) %> mentions)
      </span>
    </a></h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
    <ul class="list-group">
      <% named_entities[:ORG].keys.each do |label| %>
        <li class="list-group-item"><a data-toggle="collapse" href="#collapse3b"><%= label %></a></li>
        <div id="collapse3b" class="panel-collapse collapse">
          <ul class="list-group">
            <% named_entities[:ORG][label].each do |ne| %>
              <li class="list-group-item ne_mention">
                <%= ne['mention_ssi'] %>
                <p style="display: none;">
                  <%= get_bbox_from_annotations ne['selector_ssim'] %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<div id="named_entities_miscellaneous_list" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse4">
      Miscellaneous
      <span style="color: grey">
        (<%= named_entities[:MISC].keys.size %> entities,
        <%= named_entities[:MISC].keys.map{ |nel| named_entities[:MISC][nel].size }.reduce(:+) %> mentions)
      </span>
    </a></h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse">
    <ul class="list-group">
      <% named_entities[:MISC].keys.each do |label| %>
        <li class="list-group-item"><a data-toggle="collapse" href="#collapse4b"><%= label %></a></li>
        <div id="collapse4b" class="panel-collapse collapse">
          <ul class="list-group">
            <% named_entities[:MISC][label].each do |ne| %>
              <li class="list-group-item ne_mention">
                <%= ne['mention_ssi'] %>
                <p style="display: none;">
                  <%= get_bbox_from_annotations ne['selector_ssim'] %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
    $( document ).on('turbolinks:load', function() {
        document.getElementById('select_layer').addEventListener('change', function(event){select_layer_changed(event);}, false);


        $('li.ne_mention').click(function(e) {
            e.preventDefault();
            let x, y, w, h;
            [x, y, w, h] = e.target.children[0].textContent.split(',').map(val => parseInt(val.trim()));
            console.log([x, y, w, h]);
            let wid = mirador_instance.viewer.workspace.windows[0].id;
            mirador_instance.eventEmitter.publish('fitBounds.'+wid, {'x': x, 'y': y,'width': w, 'height': h});
        });

    });


    function select_layer_changed(event) {
        let mirador_window = mirador_instance.viewer.workspace.windows[0];
        let annotation_endpoint = mirador_window.endpoint;
        let select_element = document.getElementById('select_layer');
        let current_canvas_id = mirador_window.focusModules.ImageView.canvasID;
        let layer_value = select_element.options[select_element.selectedIndex].value;
        switch (layer_value) {
            case 'no':
                annotation_endpoint.annotationsList = []
                mirador_instance.eventEmitter.publish('ANNOTATIONS_LIST_UPDATED', {
                    'windowId': mirador_window.id,
                    'annotationsList': annotation_endpoint.annotationsList
                });
                if (mirador_window.focusModules.ImageView.annotationState === 'on') {
                    $('.mirador-osd-annotations-layer').click();
                }
                break;
            default:
                mirador_window.endpoint.search({'uri': current_canvas_id + '_' + layer_value}, function (data) {
                    jQuery.each(data, function (index, value) {
                        value.endpoint = annotation_endpoint
                    });
                    annotation_endpoint.annotationsList = data;
                    mirador_instance.eventEmitter.publish('ANNOTATIONS_LIST_UPDATED', {
                        'windowId': mirador_window.id,
                        'annotationsList': annotation_endpoint.annotationsList
                    });
                });
                if (mirador_window.focusModules.ImageView.annotationState === 'off') {
                    $('.mirador-osd-annotations-layer').click();
                }
                break;
        }
    }
</script>