<%= render 'previous_next_doc' %>

<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<% if can?(:show, @document) %>

  <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
    <div class="row">
      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel-body">
            <span id="page_controls">
              <button type="button" class="btn btn-default btn-xs">
                <span class="material-icons" id="page_previous">keyboard_arrow_left</span>
              </button>
              Page <span id="current_page"></span> out of <span id="total_page"><%= @document[:nb_pages_isi] %></span></span>
            <button type="button" class="btn btn-default btn-xs">
              <span class="material-icons" id="page_next">keyboard_arrow_right</span>
            </button>
            </span>
          </div>
        </div>

        <div id="manage_tools" class="panel panel-default">
          <div class="panel-heading">Dataset Membership</div>
          <div class="panel-body">
            <%= render 'datasets_handling_show' %>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div id="doc_<%= @document.id.to_s.parameterize %>">
          <div id="openseadragon_view" data-pages="<%= @pages_links.to_json %>" data-articles="<%= @articles.to_json %>"></div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-8">
    <p>
      This document is under copyright and cannot be accessed by users outside the NewsEye consortium. You can however access it from its original location :
      <a href="<%= @document[:original_uri_ss] %>" target="_blank"><%= @document[:original_uri_ss] %></a> (opens in a new window).
    </p>
  </div>
<% end %>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!--
       // COinS, for Zotero among others.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
  -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>
