<% if @document[:has_model_ssim].include?('Issue') %>
  <% if can?(:show, @document) %>
    <div id="content" class="<%= show_content_classes %>">
      <%= render_document_main_content_partial %>
    </div>

    <div id="sidebar" class="<%= show_sidebar_classes %>">
      <%= render_document_sidebar_partial %>
    </div>
  <% else %>
    <div class="col-md-8">
      <p>
        This document is under copyright and cannot be accessed by users outside the NewsEye consortium. You can however access it from its original location :
        <a href="<%= @document[:original_uri_ss] %>" target="_blank"><%= @document[:original_uri_ss] %></a> (opens in a new window).
      </p>
    </div>
  <% end %>

<% elsif @document[:has_model_ssim].include?('Article') %>
  <% if can?(:show, @document) %>
    <div id="content" class="<%= show_content_classes %>">
      <%= render :partial => 'show_main_content_article' %>
    </div>

    <div id="sidebar" class="<%= show_sidebar_classes %>">
      <%= render_article_document_sidebar_partial %>
    </div>
  <% else %>
    <div>
      <p>
        <% doc_url = NewseyeSolrService.get_url_from_id @document[:from_issue_ssi] %>
        This document is under copyright and cannot be accessed by users outside the NewsEye consortium. You can however access it from its original location :
        <a href="<%= doc_url %>" target="_blank"><%= doc_url %></a> (opens in a new window).
      </p>
    </div>
  <% end %>
<% end %>

