<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <meta name="turbolinks-cache-control" content="no-cache">
    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
  <%= render :partial => 'shared/header_navbar' %>

  <%= render partial: 'shared/ajax_modal' %>

  <div id="main-container" class="<%= container_classes %>">
    <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

    <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>

  <div id="modal-help" class="modal hide fade" role="dialog" aria-labelledby="help_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-kw_suggest" class="modal hide fade" role="dialog" aria-labelledby="help_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-global_dataset_confirm" class="modal hide fade" role="dialog" aria-labelledby="global_dataset_add_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-save_search" class="modal hide fade" role="dialog" aria-labelledby="save_search_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-rename-dataset" class="modal hide fade" role="dialog" aria-labelledby="rename-dataset" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-merge-dataset" class="modal hide fade" role="dialog" aria-labelledby="merge-dataset" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-subdataset" class="modal hide fade" role="dialog" aria-labelledby="subdataset" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-describe_search" class="modal hide fade" role="dialog" aria-labelledby="describe_search" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-describe_tm" class="modal hide fade" role="dialog" aria-labelledby="describe_tm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-visualize_lda" class="modal hide fade" role="dialog" aria-labelledby="visualize_lda" aria-hidden="true">
    <div class="modal-dialog" role="document" style="display: table;">
      <div class="modal-content"></div>
    </div>
  </div>

  <div id="modal-tm_query" class="modal hide fade" role="dialog" aria-labelledby="tm_query" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  </body>
</html>
